@page "/settings/apikey/{EntityId:guid}"
@page "/settings/apikey/create"

@inherits ApiKeyDetailBase

@if (Entity != null)
{
    <div class="content-header">
        <h1>ApiKey</h1>

        <Toolbar Items="ToolbarItems"></Toolbar>
    </div>
    <div class="scroll-content">
        <EditForm Model="Entity">
            <div class="row">
                <div class="col-md-12">
                    @if (IsNewEntity == false)
                    {
                        <!-- id -->
                        <div class="row form-group">
                            <label class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <MudTextField type="text" Value="@Entity.Id.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
                            </div>
                        </div>
                    }

                    <!-- name -->
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <MudTextField @bind-Value="@Entity.Name" />
                        </div>
                    </div>

                    <!-- value -->
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label">Value</label>
                        <div class="col-sm-10">
                            <MudTextField @bind-Value="@Entity.Value" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label">Permissions</label>
                        <div class="col-sm-10">
                           <PermissionItemView Permissions="Permissions" />                            
                        </div>
                    </div>

                </div>
            </div>
        </EditForm>
    </div>
}