html {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}

body {
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > header {
  flex: 0 1 auto;
  margin-bottom: 2rem;
}
body > header .navbar a {
  color: #333;
}

body > main {
  flex: 1 0 auto;
}

body > footer {
  flex: 0 1 auto;
  padding: 2rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: #222;
}
body > footer .footer-links {
  display: flex;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  color: #212529;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

a {
  color: #D54949;
  text-decoration: none;
}
a:hover {
  color: #D54949;
  text-decoration: underline;
}

article header h1 a, article header h2 a {
  color: #212529;
}
article header h1 a:hover, article header h2 a:hover {
  color: #000;
}
article .post-meta {
  color: #999;
  font-size: 0.85rem;
}
article .post-meta a {
  color: #999;
}
article .post-meta strong {
  color: #212529;
  font-weight: normal;
}

.heading-index {
  position: sticky;
  top: 1rem;
  font-size: 0.8rem;
}

.progress {
  height: 1.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.svg {
  width: 100%;
  height: 100%;
}

body > header {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
body > header .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header .logo {
  height: 1.8rem;
}
body > header .navbar {
  padding: 1rem 0;
  font-size: 1rem;
}
body > header .navbar .nav-link {
  padding: 0.5rem 1rem !important;
}
body > header .navbar .nav-link.active {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  background-color: #f5f5f5;
}
body > header .navbar .nav-link:hover {
  text-decoration: none;
  background-color: #fafafa;
  color: #000;
}
body > header .title h1 {
  font-size: 2rem;
  color: #333;
  margin: 14px;
}
body > header .title h1 small {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 1rem;
  color: #999;
}
body > header .title img {
  background: #fff;
  height: 100px;
  padding: 10px;
  border: solid 1px #e2e2e2;
  float: right;
  margin: -0.5rem 0 -1rem;
  border-radius: 50px;
}

.btn-link {
  color: #333;
  border: solid 1px #D54949;
  padding: 0.375rem 1.5rem;
  font-size: 0.85rem;
  text-decoration: none;
}
.btn-link:hover {
  background: #D54949;
  color: #fff;
  border: solid 1px #D54949;
  text-decoration: none;
}

.pagination {
  margin: 2rem 0 0;
}
.pagination .page-item {
  margin: 0 0.4rem;
}
.pagination .page-item .page-link {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
  transition: background ease-in-out 0.2s;
}
.pagination .page-item .page-link:hover {
  background: #aaa;
  transition: background ease-in-out 0.2s;
}
.pagination .page-item.active .page-link {
  background: #D54949;
  border-color: #D54949;
}

.zoom-item {
  transition: all 0.05s ease;
}

.zoom-item:hover {
  z-index: 100;
  transform: scale(1.02);
}

.social-icons {
  position: sticky;
  top: 1rem;
}

.social-icon {
  font-size: 1.25rem;
}

.carousel-item {
  height: 200px;
}

.carousel-subitem {
  display: flex;
  width: 100%;
  height: 100%;
}

.project-item {
  margin: 25px 0px;
  padding: 25px 0px;
  border-bottom: 2px solid #f5f5f5;
}
.project-item:last-child {
  border-bottom: none;
}
.project-item .title {
  margin-bottom: 2px;
}
.project-item .subtitle {
  font-size: 0.9rem;
  margin-bottom: 0px;
}
.project-item .technology {
  font-size: 12px;
  margin-bottom: 2px;
}
.project-item .link {
  display: inline-block;
  margin: 8px 0px;
  text-decoration: none;
}
.project-item .link:hover {
  text-decoration: underline;
}

.block {
  margin-bottom: var(--bs-gutter-x);
}
.block:last-child {
  margin-bottom: 0px;
}
.block .alert {
  margin-bottom: 0px;
}

.grid-block {
  display: grid;
  gap: 1rem;
}
.grid-block .grid-item {
  display: flex;
  overflow: hidden;
}
.grid-block .block {
  flex: 1;
  margin: 0px;
  padding: 0px;
}
.grid-block .asset-block > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
