@inherits FieldQueryComponent<GeolocationFieldQuery>

<div>
    <div class="row">
        <div class="col-4">
            <label>Longitude</label>
        </div>
        <div class="col">
            <MudNumericField @bind-Value="@Query.Longitude" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Latitude</label>
        </div>
        <div class="col">
            <MudNumericField @bind-Value="@Query.Latitude" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Min distance</label>
        </div>
        <div class="col">
            <MudNumericField @bind-Value="@Query.MinDistance" />
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-4">
            <label>Max distance</label>
        </div>
        <div class="col">
            <MudNumericField @bind-Value="@Query.MaxDistance" />
        </div>
    </div>
</div>

@code {

}
