@inherits FieldQueryComponent<GeolocationFieldQuery>

<div>
    <div class="row">
        <div class="col-4">
            <label>Longitude</label>
        </div>
        <div class="col">
            <BSInput InputType="InputType.Number"
                        @bind-Value="@Query.Longitude"
                        class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Latitude</label>
        </div>
        <div class="col">
            <BSInput InputType="InputType.Number"
                        @bind-Value="@Query.Latitude"
                        class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Min distance</label>
		</div>
		<div class="col">
				<BSInput InputType="InputType.Number"              
										@bind-Value="@Query.MinDistance"
										class="form-control" 
										/>
		</div>		
	</div>
</div>
<div>
    <div class="row">
        <div class="col-4">
            <label>Max distance</label>
		</div>
		<div class="col">
				<BSInput InputType="InputType.Number"              
										@bind-Value="@Query.MaxDistance"
										class="form-control" 
										/>
		</div>
	</div>
</div>

@code {

}
