@inherits FieldQueryComponent<IntegerFieldQuery>

<div class="row">
    <div class="col">
        <MudNumericField Step="1" @bind-Value="@Query.Value" />
    </div>
    <div class="col-auto">
        <EnumView @bind-EnumValue="Query.Type" />
    </div>
</div>
