@inherits FieldQueryComponent<IntegerFieldQuery>

<div>
	<BSRow>
		<BSCol>
			<BSLabel class="form-label">Min value</BSLabel>
		</BSCol>
		<BSCol>
				<BSInput InputType="InputType.Number"              
										@bind-Value="@Query.MinValue"
										class="form-control" 
										/>
		</BSCol>
		
	</BSRow>
</div>
<div>
	<BSRow>
		<BSCol>
			<BSLabel class="form-label">Max value</BSLabel>
		</BSCol>
		<BSCol>
				<BSInput InputType="InputType.Number"              
										@bind-Value="@Query.MaxValue"
										class="form-control" 
										/>
		</BSCol>
	</BSRow>
</div>

@code {

}
