@inherits FieldQueryComponent<StringFieldQuery>

<div class="row">
	<div class="col">
		<FluentTextField @bind-Value="@Query.Pattern" />
	</div>
	<div class="col-auto">
		<BSDropdown>
			<Toggler>
				<BSToggle IsButton Color="@BSColor.Light">@Query.PatternType</BSToggle>
			</Toggler>
			<Content>
				@foreach(var value in Enum.GetValues(typeof(StringQueryType)))
				{
					<BSDropdownItem @onclick="e => { Query.PatternType = (StringQueryType)value; }">@value</BSDropdownItem>
				}
			</Content>
		</BSDropdown>
	</div>		
</div>

@code {

}
