@inherits FieldQueryComponent<StringFieldQuery>

<div class="split">
	    <div class="pattern">
		    <MudTextField @bind-Value="@Query.Pattern" />
        </div>
        <div class="pattern-type">
            <EnumView @bind-EnumValue="Query.PatternType" />
    </div>
</div>

@code {

}
