@inherits FieldQueryComponent<StringFieldQuery>

<div class="row">
	<div class="col">
		<FluentTextField @bind-Value="@Query.Pattern" />
	</div>
	<div class="col-auto">
        <EnumView @bind-EnumValue="Query.PatternType" />
	</div>		
</div>

@code {

}
