@inherits FieldComponent<ArrayField, ArrayFieldOptions>

<div class="array-field">
    <BSButton Color="Color.Light" class="add-field" OnClick="e => { Field.Items.Add(Options.CreateArrayField()); }"><i class="fas fa-plus"></i> Add item</BSButton>

    <BSListGroup>
        @{
            int i = 1;
        }
        @foreach (ArrayFieldItem item in Field.Items)
        {
            <BSListGroupItem class="arrayitem-field">                
                <BSButton Color="Color.Light">#@(i++)</BSButton>
                <BSButton Color="Color.Light" OnClick="@(e => { Field.Items.MoveUp(item); })" title="Up"><i class="fas fa-arrow-up"></i></BSButton>
                <BSButton Color="Color.Light" OnClick="@(e => { Field.Items.MoveDown(item); })" title="Down"><i class="fas fa-arrow-down"></i></BSButton>
                <BSButton Color="Color.Light" OnClick="@(e => { Field.Items.Remove(item); })" title="Remove"><i class="fas fa-times"></i></BSButton>
                
                <ContentItemFields Content="item" Schema="Options" />
            </BSListGroupItem>
        }
    </BSListGroup>
</div>
