@inherits FieldComponent<AssetField, AssetFieldOptions>
@inject NavigationManager NavigationManager
@inject IImageAssetUrlService AssetPreview

<div class="asset-field">
	<AssetSelector @bind-Asset="Field.Asset" ShowDownloadButton="true" />
</div>