@inherits FieldComponent<AssetField, AssetFieldOptions>
@inject NavigationManager NavigationManager

<div class="asset-field">
	<AssetSelector @bind-Asset="Field.Asset" ShowDownloadButton="false" ShowPreview="Options.ShowPreview" />
</div>