@inject FieldComponentManager FieldComponentManager

    @foreach (var part in Schema.Fields
                       .OrderBy(x => x.Value.SortKey)
                       .Select(x => new { Key = x.Key, Value = Content.Fields[x.Key], Definition = x.Value })
                       .ToList())
    {
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@part.Key</label>
            <div class="col-sm-10">
                @FieldComponentManager.CreateFieldComponent(part.Value, part.Definition.Options)
            </div>
        </div>
    }

@code {
    [Parameter]
    public IContentItem Content { get; set; }

    [Parameter]
    public IContentSchema Schema { get; set; }
}