@inherits FieldComponent<IntegerField, IntegerFieldOptions>

<div class="integer-field">
    <input type="number" class="form-control" @bind-value="@Field.Value" min="@Options.MinValue" max="@Options.MaxValue" />
</div>
