@inherits FieldComponent<ArrayField, ArrayFieldOptions>

<div class="array-field">
    <BSButton Color="BSColor.Light" class="add-field" OnClick="e => { Field.Items.Add(Options.CreateArrayItem()); }" IsDisabled="IsReadOnly"><i class="fas fa-plus"></i> Add item</BSButton>

    @if (Field.Items.Any())
    {
        <BSListGroup style="margin-top:0.25rem">
            @{
                int i = 1;
            }
            @foreach (ArrayFieldItem item in Field.Items)
            {
                <BSListGroupItem class="arrayitem-field">
                    <div class="options">
                    <BSButton Color="BSColor.Light" IsDisabled="true">#@(i++)</BSButton>
                    <BSButton Color="BSColor.Light" OnClick="e => Field.Items.MoveUp(item)" title="Up" IsDisabled="IsReadOnly"><i class="fas fa-arrow-up"></i></BSButton>
                        <BSButton Color="BSColor.Light" OnClick="e => Field.Items.MoveDown(item)" title="Down" IsDisabled="IsReadOnly"><i class="fas fa-arrow-down"></i></BSButton>
                        <BSButton Color="BSColor.Light" OnClick="e => Field.Items.Remove(item)" title="Remove" IsDisabled="IsReadOnly"><i class="fas fa-trash"></i></BSButton>
                    </div>
                    <ContentItemFields Content="item" Schema="Options" FieldName="@FieldName" IsReadOnly="IsReadOnly" />
                </BSListGroupItem>
            }
        </BSListGroup>
    }
</div>
