@inherits FieldComponent<ArrayField, ArrayFieldOptions>

<div class="array-field">
    <BSButton Color="BSColor.Light" class="add-field" OnClick="e => { Field.Items.Add(Options.CreateArrayItem()); }" IsDisabled="IsReadOnly"><i class="fas fa-plus"></i> Add item</BSButton>

    @if (Field.Items.Any())
    {
        <BSListGroup>
            @{
                int i = 1;
            }
            @foreach (ArrayFieldItem item in Field.Items)
            {
                <BSListGroupItem class="arrayitem-field" style="margin-top: 0.25rem">
                    <BSButton Color="BSColor.Light">#@(i++)</BSButton>
                    <BSButton Color="BSColor.Light" OnClick="e => Field.Items.MoveUp(item)" title="Up"><i class="fas fa-arrow-up"></i></BSButton>
                    <BSButton Color="BSColor.Light" OnClick="e => Field.Items.MoveDown(item)" title="Down"><i class="fas fa-arrow-down"></i></BSButton>
                    <BSButton Color="BSColor.Light" OnClick="e => Field.Items.Remove(item)" title="Remove"><i class="fas fa-times"></i></BSButton>

                    <ContentItemFields Content="item" Schema="Options" FieldName="@FieldName" />
                </BSListGroupItem>
            }
        </BSListGroup>
    }
</div>
