@inherits FieldComponent<DateField, DateFieldOptions>

<div class="date-field">
    <FluentDatePicker 
                Value="@Field.Value.Value.ToDateTime(TimeOnly.MinValue)" 
                ValueChanged="x => Field.Value = DateOnly.FromDateTime(x.Value)" 
                ReadOnly="IsReadOnly" />
</div>
