@inherits FieldComponent<DateTimeField, DateTimeFieldOptions>

<div class="datetime-field">
    <BSInput InputType="InputType.DateTimeLocal" class="form-control" @bind-Value="@Field.Value" IsReadonly="IsReadOnly" />
</div>
