@inherits FieldComponent<FloatField, FloatFieldOptions>

<div class="float-field">
    <BSInput InputType="InputType.Number" @bind-Value="@Field.Value" 
             step="0.01" 
             class="form-control" 
             min="@Options.MinValue" 
             max="@Options.MaxValue"
             IsDisabled="IsReadOnly"/>
</div>
