@inherits FieldComponent<FloatField, FloatFieldOptions>

<div class="float-field">
    <MudNumericField 
             @bind-Value="@Field.Value"
             Step="0.01" 
             ReadOnly="IsReadOnly" />
</div>
