@inherits FieldComponent<GeolocationField, GeolocationFieldOptions>

<div class="geolocation-field">
    <MudNumericField @bind-Value="Field.Latitude" Placeholder="Latitude" ReadOnly="IsReadOnly" />
    <MudNumericField @bind-Value="Field.Longitude" Placeholder="Longitude" ReadOnly="IsReadOnly" />
</div>
