@inherits FieldComponent<GeolocationField, GeolocationFieldOptions>

<div class="geolocation-field">
    <div class="input-group">
        <span class="input-group-text">Latitude</span>
        <BSInput InputType="InputType.Text" @bind-Value="Field.Latitude" />
        <span class="input-group-text">Longitude</span>
        <BSInput InputType="InputType.Text" @bind-Value="Field.Longitude" />
        <BSButton Color="BSColor.Light" title="Clear" OnClick="x => Field.Clear()"><i class="fas fa-times"></i></BSButton>
    </div>
</div>
