@inherits FieldComponent<HtmlField, HtmlFieldOptions>

<div class="html-field">
    <MudTextField AutoGrow
                  Lines="3"
                  @bind-Value="@Field.Value"
                  ReadOnly="IsReadOnly" />
</div>
