@inherits FieldComponent<HtmlField, HtmlFieldOptions>

<div class="xhtml-field">
    <textarea type="text" class="form-control" @bind="@Field.Value" style="height:500px" readonly="@this.GetReadOnlyAttribute()" />
</div>
