@inherits FieldComponent<IntegerField, IntegerFieldOptions>

<div class="integer-field">
    <MudNumericField
             @bind-Value="@Field.Value" 
             Step="1"
             ReadOnly="IsReadOnly"/>
</div>
