@inherits FieldComponent<IntegerField, IntegerFieldOptions>

<div class="integer-field">
    <BSInput InputType="InputType.Number"              
             @bind-Value="@Field.Value" 
             class="form-control" 
             min="@Options.MinValue" 
             max="@Options.MaxValue"
             IsReadonly="IsReadOnly"/>
</div>
