@inherits FieldComponent<StringField, StringFieldOptions>

<div class="string-field">
    <input type="text" class="form-control" @bind-value="@Field.Value" readonly="@this.GetReadOnlyAttribute()" />
</div>
