@inherits FieldComponent<TextField, TextFieldOptions>

<div class="text-field">
        <MudTextField
                    AutoGrow
                    Lines="3"
                    @bind-Value="@Field.Value"                 
                    ReadOnly="IsReadOnly" />
</div>
