@inherits FieldComponent<TimeField, TimeFieldOptions>

<div class="time-field">
   @*  <FluentDatePicker Value="@Field.Value.Value.ToTimeSpan()"
                      ValueChanged="x => Field.Value = TimeOnly.FromDateTime(x.Value)"
                      ReadOnly="IsReadOnly" /> *@
</div>
