@inherits FieldComponent<TimeField, TimeFieldOptions>

<div class="time-field">
    <BSInput InputType="InputType.Time" class="form-control" @bind-Value="@Field.Value" IsReadonly="IsReadOnly" />
</div>
