@inherits FieldComponent<UrlField, UrlFieldOptions>

<div class="url-field">   
    <MudTextField @bind-Value="@Field.Value" ReadOnly="IsReadOnly" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Web" />
</div>