@inherits FieldComponent<UrlField, UrlFieldOptions>

<div class="url-field">   
    <FluentTextField @bind-Value="@Field.Value" ReadOnly="IsReadOnly" >
        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" />
    </FluentTextField>
</div>