@inherits FieldComponent<XHtmlField, XHtmlFieldOptions>

<div class="xhtml-field">
    <textarea type="text" class="form-control" @bind="@Field.Value" data-autoresize style="height:200px" readonly="@this.GetReadOnlyAttribute()" />
</div>
