@inherits FieldComponent<XmlField, XmlFieldOptions>

<div class="xml-field">
    <MudTextField AutoGrow
                  Lines="3"
                  @bind-Value="@Field.Value"
                  ReadOnly="IsReadOnly" />
</div>
