@inherits FieldComponent<XmlField, XmlFieldOptions>

<div class="xml-field">
    <textarea type="text" class="form-control" @bind="@Field.Value" data-autoresize style="height:200px" readonly="@this.GetReadOnlyAttribute()" />
</div>
