@page "/structure"
@inherits ContentStructureListBase

<div class="content-header">
     <a href="structure/create" class="btn btn-success">Create</a>
</div>
<div class="scroll-content">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <BSListGroup>

            @foreach (ContentStructure structure in SearchResult.Items)
            {
                <a class="list-group-item list-group-item-action" href="structure/@structure.Id/tree">
                    <span class="oi oi-list-rich"></span> @structure.Name
                </a>
            }

        </BSListGroup>
    }
</div>