@page "/settings/identity/role/{EntityId:guid}"
@page "/settings/identity/role/create"
@inherits RoleDetailBase

@if (Entity != null)
{
    <div class="role-detail">

        <div style="flex: 0">
            <h1>Role</h1>

            <Toolbar Items="ToolbarItems"></Toolbar>
        </div>
        <div class="scroll-content" style="flex:1">
            <EditForm Model="Entity">
                <div>
                    <div class="col-md-6">

                        <!-- id -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Id" readonly />
                            </div>
                        </BSRow>

                        <!-- name -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Name" />
                            </div>
                        </BSRow>

                        <BSRow class="form-group">
                                <label class="col-sm-2 col-form-label">Permissions</label>
                                <div class="col-sm-10">
                                        @foreach(SelectableElementTree<Permission> permission in Permissions)
                                        {
                                            <PermissionItemView Permission="permission" />
                                        }
                                </div>                                
                        </BSRow>
                        
                    </div>
                 </div>
          </EditForm>
        </div>
   </div>
}