@inherits BlockComponent<AssetBlock>
@inject IAssetStorage AssetStorage

<div class="asset-block">
    <AssetSelector @bind-Asset="Asset" ShowPreview="true" />
</div>

@code {

	protected override async Task OnInitializedAsync()
	{
		if (Block.AssetId != null)
		{
			Asset = await AssetStorage.GetAssetAsync(Block.AssetId.Value);
		}
	}

	private Asset _asset;

	[Parameter]
	public Asset Asset 
	{
		get => _asset;
		set
		{
			_asset = value;

			Block.AssetId = _asset?.Id;
		}
	}
}
