.asset-field .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.image {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.svg {
    width: 100%;
}