.asset-field .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.image-preview {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    max-height: 20rem;
}

.svg {
    width: 100%;
}