@inherits LayoutComponentBase

@* <FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Word" /> *@

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            @Body
        </div>
        <FluentToastProvider />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMessageBarProvider />
        <FluentMenuProvider />
        <DragonFly.Client.Pages.BackgroundTasks.BackgroundTaskComponent />
    </Authorized>
    <NotAuthorized>
        <div class="main">
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>
