@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<AuthorizeView>
    <Authorized>
        <BlazoredToasts Position="ToastPosition.TopRight"
                        Timeout="4"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up"
                        ErrorIcon="fa fa-bug"
                        RemoveToastsOnNavigation="true" />

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            @Body
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="main">
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>
