@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>
