@inherits LayoutComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Light" CustomColor="#4682b4" />

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            @Body
        </div>
        <FluentToastProvider />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMessageBarProvider />
        <FluentMenuProvider />
        <BackgroundTaskComponent />
    </Authorized>
    <NotAuthorized>
        <div class="main">
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>
