@inject IDragonFlyApi Api

<div style="background: var(--neutral-layer-3); display: flex; padding: 10px;">
    <FluentAppBar Orientation="Orientation.Vertical">
        <FluentAppBarItem Href=""
                          Text="Start"
                          IconRest="new Icons.Filled.Size24.Home()"
                          IconActive="new Icons.Filled.Size24.Home()"                          
                          Match="NavLinkMatch.All">
        </FluentAppBarItem>
        @foreach (MenuItem menuItem in Api.MainMenu().Items)
        {
            <FluentAppBarItem 
                              Href="@menuItem.Route"
                              IconRest="menuItem.Icon"
                              IconActive="menuItem.Icon"
                              Text="@menuItem.Title">
                            </FluentAppBarItem>
        }
    </FluentAppBar>
</div>

@* <p>@CurrentUser</p> *@

@code {
    private bool collapseNavMenu = true;

    public string CurrentUser { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = await authenticationState;

        CurrentUser = $"{user.User.Identity.Name}";
    }
}
