@inject IDragonFlyApi Api

<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach(MenuItem menuItem in Api.MainMenu().Items)
        {
             <li class="nav-item">
            <NavLink class="nav-link" href="@menuItem.Route">
                <div>
                    <span class="@menuItem.CssIcon" aria-hidden="true"></span>
                </div>
                <div class="text">
                    @menuItem.Title
                </div>
            </NavLink>
        </li>
        }
    </ul>
</div>

@* <p>@CurrentUser</p> *@

@code {
    private bool collapseNavMenu = true;

    public string CurrentUser { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = await authenticationState;

        CurrentUser = $"{user.User.Identity.Name}";
    }
}
