@inject IDragonFlyApi Api

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach(MenuItem menuItem in Api.MainMenu().Items)
        {
             <li class="nav-item">
            <NavLink class="nav-link" href="@menuItem.Route">
                <div>
                    <span class="@menuItem.CssIcon" aria-hidden="true"></span>
                </div>
                <div class="text">
                    @menuItem.Title
                </div>
            </NavLink>
        </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
