<FluentButton OnClick="e => { Order.Asc = !Order.Asc; }">
    @if (Order.Asc == true)
    {
        <span>ASC</span>
    }
    else
    {
        <span>DESC</span>
    }
</FluentButton>

    @code {
        [Parameter]
        public FieldOrder Order { get; set; }
    }
