@foreach (var group in Permissions.GroupBy(x=> x.Element.Group.Name).OrderBy(x => x.Key))
{
    <div>
        <strong>@group.Key</strong>
    </div>

    @foreach (var permission in group)
    {
    <div class="form-check">
        <input id="check_@permission.Element.Name" type="checkbox" class="form-check-input" @bind="permission.IsSelected" />

        <label class="form-check-label" for="check_@permission.Element.Name">
            @if (string.IsNullOrEmpty(permission.Element.DisplayName) == false)
            {
                @permission.Element.DisplayName
            }
            else
            {
                @permission.Element.Name
            }
        </label>
    </div>
    }
}

@code {

    [Parameter]
    public IEnumerable<SelectableElement<Permission>> Permissions { get; set; }
}
