@page "/schema"
@inherits ContentSchemaListBase

<div class="content-header">   
        <a href="schema/create" class="btn btn-success">Create</a>
</div>

<div class="scroll-content">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="list-group">

            @foreach (ContentSchema schema in SearchResult.Items)
            {
                <a class="list-group-item list-group-item-action" href="schema/@schema.Id">
                    <span class="oi oi-list-rich"></span> @schema.Name
                </a>
            }

        </div>
    }
</div>