@page "/schema"
@inherits ContentSchemaListBase

    <div class="contentschema-list">
        <div class="row">
            <div class="col-lg-12">
                <a href="schema/create" class="btn btn-success">Create</a>
            </div>
        </div>

        <hr />

        @if (SearchResult == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="list-group">

                @foreach (DragonFly.ContentTypes.ContentSchema contentType in SearchResult.Items)
                {
                    <a class="list-group-item list-group-item-action" href="schema/@contentType.Name">
                        <span class="oi oi-list-rich"></span> @contentType.Name
                    </a>
                }

            </div>
        }
    </div>