@inject FieldComponentManager FieldComponentManager

<BSListGroupItem>
    <div style="display: flex; align-items: center;">
        <span style="flex-grow:1">@Key</span>
        <BSBadge Color="Color.Secondary" Class="bg-secondary">@Field.FieldType</BSBadge>
        <div>
            <BSButton Color="Color.Light" OnClick="x => FieldsView.Up(Key)"><i class="fas fa-arrow-up"></i></BSButton>
            <BSButton Color="Color.Light" OnClick="x => FieldsView.Down(Key)"><i class="fas fa-arrow-down"></i></BSButton>
            <BSButton Color="Color.Light" OnClick="x => IsOpen = !IsOpen"><i class="fas fa-cog"></i></BSButton>
            <BSButton Color="Color.Light" OnClick="x => FieldsView.Schema.Fields.Remove(Key)"><i class="fas fa-times"></i></BSButton>
        </div>
    </div>
    <BSCollapse IsOpen="IsOpen">
       @FieldComponentManager.CreateOptionsComponent(Field.Options)
    </BSCollapse>
</BSListGroupItem>

@code {
    [Parameter]
    public ContentFieldsView FieldsView { get; set; }

    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public SchemaField Field { get; set; }

    private bool IsOpen { get; set; }

    
}
