@page "/schema"
@inherits ContentSchemaListBase

<div class="contentschema-list">
    <BSRow>
        <div class="col-lg-12">
            <BSButton Color="Color.Success" href="schema/create">Create</BSButton>
        </div>
    </BSRow>

    <hr />

    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="list-group">

            @foreach (ContentSchema contentType in SearchResult.Items)
            {
                <a class="list-group-item list-group-item-action" href="schema/@contentType.Name">
                    <span class="oi oi-list-rich"></span> @contentType.Name
                </a>
            }

        </div>
    }
</div>