@model BasePageModel

<nav class="navbar navbar-expand-lg">
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-link @(Model is StandardPage standardPage && standardPage.Result.IsStartPage ? "active" : "")" href="/">Start</a>
                <a class="nav-link @(Model is BlogPage or BlogPostPage ? "active" : "")" href="/blog">Blog</a>
                <a class="nav-link @(Model is ProjectsPage ? "active" : "")" href="/projekte">Projekte</a>
            </div>
        </div>
    </div>
</nav>
