@page "/blog/{slug}"

@model BlogPostPage

<div class="container">
    <article>
        <header>
            <h1>@Model.Result.Title</h1>
            <p class="post-meta"><i class="bi bi-calendar"></i> Published @Model.Result.Date.Value.ToShortDateString()</p>
        </header>
        <div class="row">
            <div class="col-lg-3">
                <div class="heading-index">
                    <div class="list-group">
                            @foreach (HeadingBlock heading in Model.Document.Blocks.OfType<HeadingBlock>())
                            {
                                <a href="#@Slugify.ToSlug(heading.Text)" class="list-group-item list-group-item-action">@heading.Text</a>
                            }
                    </div>
                </div>
            </div>
            <dif class="col-lg-8">
                @Html.DisplayFor(m => Model.Document.Blocks)
            </dif>
            <div class="col-lg-1">
                <div class="social-icons">
                    <div>
                        <a href="https://twitter.com/intent/tweet?url=@Request.GetEncodedUrl()">
                            <i class="bi bi-twitter social-icon"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.GetEncodedUrl()">
                            <i class="bi bi-facebook social-icon"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url=@Request.GetEncodedUrl()">
                            <i class="bi bi-linkedin social-icon"></i>
                        </a>
                    </div>
                    <div>
                        <a href="mailto:?body=@Request.GetEncodedUrl()">
                            <i class="bi bi-envelope social-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
