@page "/blog"
@model BlogPage

<div class="container">

    @foreach (BlogEntryModel blogEntry in Model.Result.Items)
    {
        <div class="">
            <article>
                <header>
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="~/blog/@blogEntry.Slug">@blogEntry.Title</a></h2>
                    <p class="shortDescription">@blogEntry.ShortDescription</p>
                </div>
            </div>
                </header>
            </article>
        </div>
    }
</div>
