@page "/{slug?}"
@model StandardPage

<div class="container">
    @if (Model.Result.IsStartPage == false)
    {
        <h1>@Model.Result.Title</h1>
    }

    @if (Model.MainContent != null)
    {
        @Html.DisplayFor(m => Model.MainContent.Blocks)
    }
</div>

@section head {
    @if (Model.Result.NoFollow == true || Model.Result.NoIndex == true)
    {
        List<string> robots = new List<string>(2);

        if (Model.Result.NoIndex)
        {
            robots.Add("noindex");
        }

        if (Model.Result.NoFollow)
        {
            robots.Add("nofollow");
        }

        <meta name="robots" content="@string.Join(",", robots)">
    }
}