@page "/"
@model StartPage

<div class="container">
    <h1>Start</h1>

    @*@await Html.DisplayBlockFieldAsync(Model.Result.MainContent)*@
</div>

@*@model DragonFlyPageModel<ProjectModel>
@{
    ViewBag.Title = Model.Data.Title;
}

<div class="container">
    <h1>@Model.Data.Title</h1>

    @Html.DisplayFor(m => m.Data.Blocks)
</div>
*@

