<div style="display:flex; gap: 0.25rem; align-items: center; @(Vertical ? "flex-direction: column;" : "")">
    @*@if (Span.Unit == GridUnit.Auto)
    {
        Span.Value = 0;
    }
    else
    {*@
        <FluentNumberField class="form-control grid-unit-value" step="1" @bind-Value="@Span.Value" />
    @*}*@
    <EnumView TEnum="GridUnit" @bind-EnumValue="@Span.Unit" />
</div>

@code {
    [Parameter]
    public GridSpan Span { get; set; }

    [Parameter]
    public bool Vertical { get; set; }
}
