@inject ComponentManager ComponentManager

<MudExpansionPanels>
    <MudExpansionPanel Text="@Field.FieldType">
       @*  <HeadingTemplate>
            <div style="display: flex; align-items: center;">
                <span style="flex-grow:1">@Key</span>
                <FluentBadge Appearance="Appearance.Accent">@Field.FieldType</FluentBadge>
                <div>
                    <MudButton OnClick="x => FieldsView.Up(Key)" Title="Move up"><i class="fas fa-arrow-up"></i></MudButton>
                    <MudButton OnClick="x => FieldsView.Down(Key)" Title="Move down"><i class="fas fa-arrow-down"></i></MudButton>
                    <MudButton OnClick="x => FieldsView.Remove(Key)" Title="Remove"><i class="fas fa-times"></i></MudButton>
                </div>
            </div>
        </HeadingTemplate> *@

        @if (Field.Options != null)
            {
                @ComponentManager.CreateComponent(Field.Options)
            }        
    </MudExpansionPanel>
</MudExpansionPanels>


@code {
    [CascadingParameter]
    public ContentFieldsView FieldsView { get; set; }

    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public SchemaField Field { get; set; }
}
