@page "/schema"
@inherits EntityListComponent<ContentSchema>

<div class="content-header">
    <a href="schema/create" class="btn btn-success">Create</a>
</div>

<div class="scroll-content">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <FluentNavMenu>
            @foreach (ContentSchema schema in SearchResult.Items)
            {
                <FluentNavLink Href="@($"schema/{schema.Id}")" Icon="new Icons.Filled.Size16.List()">
                    <span class="oi oi-list-rich"></span> @schema.Name
                </FluentNavLink>
            }
        </FluentNavMenu>
    }
</div>