@inject ComponentManager ComponentManager

<FluentAccordion>
    <FluentAccordionItem>
        <HeadingTemplate>
            <div style="display: flex; align-items: center;">
                <span style="flex-grow:1">@Key</span>
                <FluentBadge Appearance="Appearance.Accent">@Field.FieldType</FluentBadge>
                <div>
                    <FluentButton OnClick="x => FieldsView.Up(Key)" Title="Move up"><i class="fas fa-arrow-up"></i></FluentButton>
                    <FluentButton OnClick="x => FieldsView.Down(Key)" Title="Move down"><i class="fas fa-arrow-down"></i></FluentButton>
                    <FluentButton OnClick="x => FieldsView.Remove(Key)" Title="Remove"><i class="fas fa-times"></i></FluentButton>
                </div>
            </div>
        </HeadingTemplate>
        <ChildContent>
            @if (Field.Options != null)
            {
                @ComponentManager.CreateComponent(Field.Options)
            }
        </ChildContent>
    </FluentAccordionItem>
</FluentAccordion>


@code {
    [CascadingParameter]
    public ContentFieldsView FieldsView { get; set; }

    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public SchemaField Field { get; set; }
}
