@inject ComponentManager ComponentManager

<FluentAccordion>
    <FluentAccordionItem>
        <HeadingTemplate>
            <div style="display: flex; align-items: center;">
                <span style="flex-grow:1">@Key</span>
                <FluentBadge Appearance="Appearance.Accent">@Field.FieldType</FluentBadge>
                <div>
                    <FluentButton OnClick="x => FieldsView.Up(Key)" Title="Move up" IconStart="new Icons.Regular.Size16.ArrowUp()" />
                    <FluentButton OnClick="x => FieldsView.Down(Key)" Title="Move down" IconStart="new Icons.Regular.Size16.ArrowDown()" />
                    <FluentButton OnClick="x => FieldsView.Remove(Key)" Title="Remove" IconStart="new Icons.Regular.Size16.Delete()" />
                </div>
            </div>
        </HeadingTemplate>
        <ChildContent>
            @if (Field.Options != null)
            {
                @ComponentManager.CreateComponent(Field.Options)
            }
        </ChildContent>
    </FluentAccordionItem>
</FluentAccordion>


@code {
    [CascadingParameter]
    public ContentFieldsView FieldsView { get; set; }

    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public SchemaField Field { get; set; }
}
