@page "/schema"
@inherits EntityListComponent<ContentSchema>

<div class="content-header">
    <a href="schema/create" class="btn btn-success">Create</a>
</div>

<div class="scroll-content">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudList T="string">
            @foreach (ContentSchema schema in SearchResult.Items)
            {
                <MudListItem Href="@($"schema/{schema.Id}")" Icon="@Icons.Material.Filled.List">@schema.Name</MudListItem>
            }
        </MudList>
    }
</div>