<BSRow>
    <div class="col-lg-6">
        <BSListGroup>
            @foreach (string i in TargetList)
            {
                <BSListGroupItem>
                    <div style="display:flex;align-items:center">
                        <span>@i</span>
                        <span style="flex-grow:1"></span>
                        <BSButton Color="BSColor.Light" OnClick="e => TargetList.MoveUp(i)"><i class="fas fa-arrow-up"></i></BSButton>
                        <BSButton Color="BSColor.Light" OnClick="e => TargetList.MoveDown(i)"><i class="fas fa-arrow-down"></i></BSButton>
                        <BSButton Color="BSColor.Light" OnClick="e => TargetList.Remove(i)"><i class="fas fa-times"></i></BSButton>
                    </div>
                </BSListGroupItem>
            }
        </BSListGroup>
    </div>
    <div class="col-lg-6">
        <BSListGroup>
            @foreach (var i in SourceList.Where(x => TargetList.Contains(x) == false))
            {
                <BSListGroupItem>
                    <div style="display:flex;align-items:center">
                        <span>@i</span>
                        <span style="flex-grow:1"></span>
                        <BSButton Color="BSColor.Light" OnClick="@(e => { TargetList.Add(i);  })"><i class="fas fa-arrow-left"></i></BSButton>
                    </div>
                </BSListGroupItem>
            }
        </BSListGroup>
    </div>
</BSRow>

@code {

    [Parameter]
    public IList<string> TargetList { get; set; }

    [Parameter]
    public IList<string> SourceList { get; set; }
}