<div class="row">
    <div class="col-lg-6">
        <ul class="list-group">
            @foreach (var i in TargetList)
            {
                <li class="list-group-item">
                    <div style="display:flex;align-items:center">
                        <div style="flex:1">@i.Name</div>
                        <OrderDirection Order="i"></OrderDirection>
                        <FluentButton OnClick="@(e => { TargetList.MoveUp(i);  })"><i class="fas fa-arrow-up"></i></FluentButton>
                        <FluentButton OnClick="@(e => { TargetList.MoveDown(i); })"><i class="fas fa-arrow-down"></i></FluentButton>
                        <FluentButton OnClick="@(e => { TargetList.Remove(i);  })"><i class="fas fa-times"></i></FluentButton>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-lg-6">
        <FluentSelect TOption="Option<string>"
                      Placeholder="Add field"
                      Items="SourceList.Where(x => TargetList.Any(i => i.Name == x) == false).Select(x => new Option<string>() { Text = x, Value = x}).ToArray()"
                      OptionText="x => x.Text"
                      OptionValue="x => x.Value"
                      @bind-SelectedOption="SelectedValue">
        </FluentSelect>
    </div>
</div>

@code {

    [Parameter]
    public IList<FieldOrder> TargetList { get; set; }

    [Parameter]
    public IList<string> SourceList { get; set; }

    private Option<string> _selectedValue;

    public Option<string> SelectedValue
    {
        get => _selectedValue;
        set
        {
            if (_selectedValue != value)
            {
                _selectedValue = value;

                if (_selectedValue != null)
                {
                    TargetList.Add(new FieldOrder(_selectedValue.Value, true));
                }
            }
        }
    }
}