@page "/content"
@inherits ContentItemTypeListBase


@if (SearchResult == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="list-group">

        @foreach (ContentSchema contentType in SearchResult.Items)
        {
            <a class="list-group-item list-group-item-action" href="content/@contentType.Name">
                <span class="oi oi-list-rich"></span> @contentType.Name
            </a>
        }

    </div>
}
