@inject ComponentManager FieldComponentManager

@foreach (var part in Schema.Fields
           .OrderBy(x => x.Value.SortKey)
           .Select(x => new { FieldName = x.Key, ContentField = Content.Fields[x.Key], SchemaField = x.Value })
           .ToList())
{
    <BSFormGroup>
        <BSAlert Color="GetFieldColor(part.FieldName)">
            <BSRow>
                <BSCol SM="2">
                    <BSLabel class="field-label">
                @part.FieldName
            </BSLabel>
                </BSCol>
                <BSCol SM="10">
                     <div class="field">
                @FieldComponentManager.CreateComponent(part.ContentField, part.SchemaField.Options)
            </div>
                </BSCol>
            </BSRow>
            
           
        </BSAlert>
    </BSFormGroup>
}

@code {
    [Parameter]
    public IContentElement Content { get; set; }

    [Parameter]
    public ISchemaElement Schema { get; set; }

    [CascadingParameter]
    public ContentItemDetail Detail { get; set; }

    private Color GetFieldColor(string field)
    {
        bool valid = Detail.IsFieldValid(field);

        if (valid)
        {
            return Color.None;
        }
        else
        {
            return Color.Danger;
        }
    }
}