@page "/content"
@inherits ContentItemTypeListBase


@if (SearchResult == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="list-group">

        @foreach (ContentSchema schema in SearchResult.Items)
        {
            <a class="list-group-item list-group-item-action" @onclick="x => OpenItem(schema)" style="cursor:pointer">
                <span class="oi oi-list-rich"></span> @schema.Name
            </a>
        }

    </div>
}
