<div class="row">
    @foreach (var field in ContentItem.Schema.ReferenceFields)
    {
        <div class="col-lg-2">            
                @{
                    var column = ContentItem.Fields[field];
                }

                @if (column is ISingleValueContentField singleValueField)
                {
                    <span>@singleValueField.Value</span>
                }

                else if (column is ReferenceField referenceField)
                {
                    @if (ContentItem != null)
                    {
                        
                    }
                }
        </div>
    }
</div>

@code {

    [Parameter]
    public ContentItem ContentItem { get; set; }
}