@page "/content"
@inherits ContentItemTypeListBase
@rendermode DragonFlyRenderMode.Current

<div class="scroll-content">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <FluentNavMenu>
            @foreach (ContentSchema schema in SearchResult.Items.OrderBy(x => x.Name))
            {
                <FluentNavLink OnClick="x => OpenItem(schema)">
                    <span class="oi oi-list-rich"></span> @schema.Name
                </FluentNavLink>
            }
        </FluentNavMenu>
    }
</div>