@inherits ContentSchemaList

<div style="flex: 1">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row w-100">
            <div class="col-2">
                <FluentNavMenu>
                    @foreach (ContentSchema schema in SearchResult.Items)
                    {
                        <FluentNavLink OnClick="() => RefreshContentItemsAsync(schema)">
                            <span class="oi oi-list-rich"></span> @schema.Name
                        </FluentNavLink>
                    }
                </FluentNavMenu>
            </div>
            <div class="col-10 h-100">
                @if (SelectedItem != null)
                {
                    <ContentItemList @ref="ContentItemList" ListMode="EntityListMode.Single" SchemaName="@SelectedItem.Name" ItemSelected="x => SetResult(x)" />
                }
            </div>
        </div>
    }
</div>
