@inherits ContentItemTypeListBase2

<div style="flex: 1">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <BSRow class="w-100">
            <BSCol Column="2">
                <FluentNavMenu>
                    @foreach (ContentSchema schema in SearchResult.Items)
                    {
                        <FluentNavLink OnClick="() => RefreshContentItemsAsync(schema)">
                            <span class="oi oi-list-rich"></span> @schema.Name
                        </FluentNavLink>
                    }
                </FluentNavMenu>
            </BSCol>
            <BSCol Column="10" class="h-100">
                @if (SelectedItem != null)
                {
                    <ContentItemList @ref="ContentItemList" ListMode="EntityListMode.Single" SchemaName="@SelectedItem.Name" ItemSelected="x => SetResult(x)" />
                }
            </BSCol>
        </BSRow>
    }
</div>
