@inject ComponentManager ComponentManager

@foreach (var part in Schema.Fields
                            .OrderBy(x => x.Value.SortKey)
                            .Select(x => new { FieldName = x.Key, ContentField = Content.Fields[x.Key], SchemaField = x.Value })
                            .ToList())
{
    <div class="field">
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <label class="field-label">
                        @part.FieldName
                    </label>
                </div>
                <div class="col-10">
                    <div class="field">
                        @ComponentManager.CreateComponent(IsReadOnly, part.FieldName, part.ContentField, part.SchemaField.Options)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public IContentElement Content { get; set; }

    [Parameter]
    public ISchemaElement Schema { get; set; }

    [CascadingParameter]
    public ContentItemDetail Detail { get; set; }

    [Parameter]
    public string FieldName { get; set; }

    [Parameter]
    public bool IsReadOnly { get; set; } = false;
}