@page "/content"
@inherits ContentSchemaList
@rendermode DragonFlyRenderMode.Current

<div class="scroll-content">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudList T="string">
            @foreach (ContentSchema schema in SearchResult.Items.OrderBy(x => x.Name))
            {
                <MudListItem OnClick="x => OpenItem(schema)" Icon="@Icons.Material.Filled.List">
                    @schema.Name
                </MudListItem>
            }
        </MudList>
    }
</div>