@inject ComponentManager ComponentManager

@foreach (var part in Schema.Fields
         .OrderBy(x => x.Value.SortKey)
         .Select(x => new { FieldName = x.Key, ContentField = Content.Fields[x.Key], SchemaField = x.Value })
         .ToList())
{
    <div class="field">
        <div class="form-group">
            <BSRow>
                <BSCol Column="2">
                    <BSLabel class="field-label">
                        @part.FieldName
                    </BSLabel>
                </BSCol>
                <BSCol Column="10">
                    <div class="field">
                        @ComponentManager.CreateComponent(IsReadOnly, part.FieldName, part.ContentField, part.SchemaField.Options)
                    </div>
                </BSCol>
            </BSRow>
        </div>
    </div>
}

@code {
    [Parameter]
    public IContentElement Content { get; set; }

    [Parameter]
    public ISchemaElement Schema { get; set; }

    [CascadingParameter]
    public ContentItemDetail Detail { get; set; }

    [Parameter]
    public string FieldName { get; set; }    

    [Parameter]
    public bool IsReadOnly { get; set; }
}