@inherits ContentSchemaList

<div style="flex: 1">
    @if (SearchResult == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row w-100">
            <div class="col-2">
                <MudList T="string">
                    @foreach (ContentSchema schema in SearchResult.Items)
                    {
                        <MudListItem  OnClick="() => RefreshContentItemsAsync(schema)" Icon="@Icons.Material.Filled.List">
                            @schema.Name
                        </MudListItem>
                    }
                </MudList>
            </div>
            <div class="col-10 h-100">
                @if (SelectedItem != null)
                {
                    <ContentItemList @ref="ContentItemList" ListMode="EntityListMode.Single" SchemaName="@SelectedItem.Name" ItemSelected="x => SetResult(x)" />
                }
            </div>
        </div>
    }
</div>
