.field-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-size: 1.2rem;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.btn-close {
    font-size: 0.8rem;
    margin-left: 1rem;
}