<div class="row">
    @foreach (var field in ContentItem.Schema.ReferenceFields)
    {
        <div class="col-lg">

            @if (ContentItem.TryGetField(field, out ContentField contentField))
            {
                @if (contentField is ISingleValueField singleValueField)
                {
                    <span>@singleValueField.Value</span>
                }

                else if (contentField is ReferenceField referenceField)
                {
                    @if (ContentItem != null)
                    {

                    }
                }
            }
            else
            {
            }

        </div>
    }
</div>

@code {

    [Parameter]
    public ContentItem ContentItem { get; set; }
}