@inherits BlockComponent<CodeBlock>

<div class="code-block">
    <EnumView TEnum="CodeType" @bind-EnumValue="@Block.CodeType" />
    <textarea class="form-control" @bind="@Block.Content" spellcheck="false" style="width:100%; height:40rem" />
</div>

@code {

}