@inherits BlockComponent<HeadingBlock>

<div class="input-group">
    <EnumView TEnum="HeadingType" @bind-EnumValue="@Block.HeadingType" />
    <input class="form-control" @bind="@Block.Text" />
</div>
@code {

}