@inherits RoleListBase

<div class="content-header">
<Toolbar Items="ToolbarItems"></Toolbar>
</div>
<div class="scroll-content">
<BSListGroup>
	@foreach(IdentityRole role in Roles)
	{
		<a class="list-group-item list-group-item-action" @onclick="x => OpenItem(role)">
			<BSRow>
				<BSCol LG="5">
					@role.Name
				</BSCol>			
			</BSRow>			
		</a>
	}
</BSListGroup>
</div>