@page "/settings/identity/role/{EntityId:guid}"
@page "/settings/identity/role/create"
@inherits RoleDetailBase

@if (Entity != null)
{
    <div class="content-header">
        <h1>Role</h1>

        <Toolbar Items="ToolbarItems" />
    </div>
    <div class="scroll-content">
        <EditForm Model="Entity">
            <div>
                @if (IsNewEntity == false)
                {
                    <!-- id -->
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <MudTextField Value="@Entity.Id" ReadOnly="true" Variant="Variant.Filled" />
                        </div>
                    </div>
                }

                <!-- name -->
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <MudTextField @bind-Value="@Entity.Name" />
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Permissions</label>
                    <div class="col-sm-10">
                        <PermissionItemView Permissions="Permissions" />
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}