@inherits BlockComponent<AlertBlock>

<div class="block alert-block">    
    <div class="mb-3">
        <EnumView TEnum="ColorType" @bind-EnumValue="@Block.ColorType" />
    </div>
    <div class="alert-block-body">
        <BlocksView Blocks="Block.Blocks" />
    </div>
</div>