@inherits BlockComponent<AssetBlock>
@inject IAssetStorage AssetStorage

<div class="asset-block">
    <AssetSelector Asset="Asset" AssetChanged="x => { Asset = x; Block.AssetId = x?.Id; }" ShowPreview="true" />
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (Block.AssetId != null)
        {
            Asset = await AssetStorage.GetAssetAsync(Block.AssetId.Value);
        }
    }

    private Asset Asset { get; set; }
}
