@inherits BlockComponent<CodeBlock>

<div class="block code-block">
    <div class="mb-1">
        <EnumView TEnum="CodeType" @bind-EnumValue="@Block.CodeType" />
    </div>
    <textarea class="form-control" @bind="@Block.Content" spellcheck="false" style="height:40rem" />
</div>

@code {
    [CascadingParameter]
    public FieldComponent<BlockField> Field { get; set; }
}