@inherits BlockComponent<HtmlBlock>

<div class="html-block">
	<TinyMCE.Blazor.Editor 
			                Field="() => Block.HtmlText"
			                @bind-Value="Block.HtmlText"
                            Conf="TinyMceConfiguration.Editor" />
</div>