@inherits BlockComponent<SectionBlock>

<div class="block section-block">
    <div class="input-group mb-3">
        <span class="input-group-text">Css</span>
        <input type="text" class="form-control" @bind-value="@Block.Css" />
    </div>
    <div class="section-block-body">
        <BlocksView Blocks="Block.Blocks" />
    </div>
</div>