@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
}

h1 {
    font-size: 1.5rem;
}

a, .btn-link {
    color: #0366d6;
}

button {
    cursor: pointer;
}
.bool-field-view {
    display: flex;
}

.bool-field-view .btn {
    display: block;
    margin-right: 4px;
}

.toolbar {
    display: flex;
    border: solid 1px #cfcfcf;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.toolbar .toolbar-item {
    margin-right: 4px;

}

.toolbar .toolbar-item .icon {
    width: 2rem;
    font-size: 1.1rem;
}

img {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

    textarea.form-control {
        width: 100%;
        height: 400px;
    }

.btn {
    padding: .275rem .75rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scroll-content {
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    height: 100%;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content-fields .list-group-item {
    padding: .2rem .75rem;
}

.content-fields .col-form-label {
    text-align: right;
}

.form-group {
    margin-bottom: 0.25rem;
}

.add-field {
    margin-bottom: 0.25rem;
}

.form-control {
    padding: .2rem .75rem;
}

.col-form-label {
    padding-bottom: 0px;
}

.input-group-text {
    padding: .2rem .75rem;
}

.field-readonly {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.main {
    flex: 1;
    padding: 2rem;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .entity-list {
            display:flex;
            flex-direction: row;
        }

            .entity-list .sub-sidebar {
                width: 250px;
            }

            .entity-list .content {
                flex: 4;
                padding: 4rem;
            }

.sidebar {
    background-color: #222222;
    color: #fff;
}

.sub-sidebar {
    background-color: #444444;
    color: #fff;
    height: 100vh;
    padding-top:4rem;
    
}

    .sub-sidebar .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .sub-sidebar .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .sub-sidebar .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.sidebar .icon {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .sidebar .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .sidebar .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .sidebar .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .sidebar .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .sidebar .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 210px;
        min-height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.modal-body {
    overflow: hidden;
}

.box-item {
    border-radius: 0px;
    border: solid 1px #dddddd;
    padding: 1rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.box-item .image {
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
}

.box-item a {
    color: #000;
    text-decoration: none;
    display: block;
    width:100%;
    height: 100%;
}

.box-item a:hover {
    color: black;
    text-decoration: none;
}

.box-item:hover {
    border: solid 1px white;
    box-shadow: 0px 0px 8px 1px #888;
}

.box-item.action {
    cursor: pointer;
}

.box-item.zoom {
    transition: all 0.05s ease;
}

.box-item.zoom:hover {
    z-index: 100;
    transform: scale(1.02);
}

.box-item .title {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.height-100 {
    height:100%;
}