@inherits BlockComponent<AssetBlock>
@inject IAssetStorage AssetStorage

<div class="block asset-block">
    <AssetSelector Asset="Asset" AssetChanged="x => { Asset = x; Block.AssetId = x?.Id; }" ShowPreview="true" IsReadOnly="Field.IsReadOnly" />
</div>

@code {

    [CascadingParameter]
    public FieldComponent<BlockField> Field { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Block.AssetId != null)
        {
            Asset = await AssetStorage.GetAssetAsync(Block.AssetId.Value);
        }
    }

    private Asset Asset { get; set; }
}
