@inherits BlockComponent<CardsBlock>
@inject ComponentManager ComponentManager

<div class="block cards-block">
    <div class="block-layout">
        <div class="row">
            <BSCol ColumnLarge="auto">
                <FluentButton class="block-layout-add-column-btn" OnClick="e => Add(0)" Disabled="Field.IsReadOnly" Title="Insert column"><i class="fas fa-plus"></i></FluentButton>
            </BSCol>
            @for (int i = 0; i < Block.Cards.Count; i++)
            {
                int index = i;
                CardItem column = Block.Cards[i];

                <BSCol>
                    <div class="column-content">
                        <div class="column-action options">
                            <FluentButton class="block-layout-add-btn" OnClick="e => Block.Cards.MoveUp(index)" IsDisabled="Field.IsReadOnly" title="Move card to left"><i class="fas fa-arrow-left"></i></FluentButton>
                            <FluentButton class="block-layout-remove-btn" OnClick="e => Remove(index)" IsDisabled="Field.IsReadOnly" title="Remove card"><i class="fas fa-times"></i></FluentButton>
                            <FluentButton class="block-layout-add-btn" OnClick="e => Block.Cards.MoveDown(index)" IsDisabled="Field.IsReadOnly" title="Move card to right"><i class="fas fa-arrow-right"></i></FluentButton>
                        </div>         

                        <div class="input-group mb-3">
                            <span class="input-group-text">Background</span>
                            <EnumView @bind-EnumValue="column.BackgroundColor" />
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Border</span>
                            <EnumView @bind-EnumValue="column.BorderColor" />
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Header</span>
                            <input type="text" class="form-control" @bind-value="@column.Header" />
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" class="form-control" @bind-value="@column.Title" />
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Footer</span>
                            <input type="text" class="form-control" @bind-value="@column.Footer" />
                        </div>

                        <BlocksView Blocks="column.Blocks" />
                    </div>
                </BSCol>
                <BSCol ColumnLarge="auto">
                    <FluentButton class="block-layout-add-column-btn" OnClick="e => Add(index+1)" Disabled="Field.IsReadOnly" Title="Insert card"><i class="fas fa-plus"></i></FluentButton>
                </BSCol>
            }
        </div>
    </div>
</div>

@code {
    private void Add(int pos)
    {
        Block.Cards.Insert(pos, new CardItem());
    }

    private void Remove(int pos)
    {
        Block.Cards.RemoveAt(pos);
    }
}
