@inherits BlockComponent<CodeBlock>

<div class="block code-block">
    <div class="mb-1">
        <EnumView TEnum="CodeType" @bind-EnumValue="@Block.CodeType" />
    </div>    

    <FluentTextArea 
                @bind-Value="@Block.Content"
                ReadOnly="Field.IsReadOnly"
                spellcheck="false"/>
</div>