@inherits BlockComponent<CodeBlock>

<div class="block code-block">
    <div class="mb-1">
        <EnumView TEnum="CodeType" @bind-EnumValue="@Block.CodeType" IsReadOnly="Field.IsReadOnly" />
    </div>    

    <div class="grow-wrap" data-replicated-value="@Block.Content">
        <textarea type="text"
                  onInput="this.parentNode.dataset.replicatedValue = this.value"
                  class="form-control"
                  @bind="@Block.Content"
                  readonly="@Field.GetReadOnlyAttribute()"
                  spellcheck="false"/>
    </div>
</div>