@inherits BlockComponent<HeadingBlock>

<div class="block heading-block">
    <EnumView @bind-EnumValue="@Block.HeadingType" IsReadOnly="Field.IsReadOnly" />
    <EnumView @bind-EnumValue="@Block.TextAlignment" IsReadOnly="Field.IsReadOnly" />
    <MudTextField class="text" @bind-Value="@Block.Text" ReadOnly="Field.IsReadOnly" />
</div>