@inherits BlockComponent<HeadingBlock>

<div class="block heading-block">
    <div class="input-group">
        <EnumView @bind-EnumValue="@Block.HeadingType" IsReadOnly="Field.IsReadOnly" />
        <EnumView @bind-EnumValue="@Block.TextAlignment" IsReadOnly="Field.IsReadOnly" />
        <BSInput @bind-Value="@Block.Text" IsReadonly="Field.IsReadOnly" />
    </div>
</div>