@inherits BlockComponent<OpenGraphBlock>

<div class="block opengraph-block">
    <div class="input-group">
        <span class="input-group-text">URL</span>
        <FluentTextField @bind-Value="@Block.Url" ReadOnly="Field.IsReadOnly" spellcheck="false" />
    </div>
</div>