@inherits BlockComponent<ReferenceBlock>
@inject IContentStorage Storage

<div class="block asset-block">
    <ContentSelector 
        ContentItem="Content"         
        ContentItemChanged="x => { Content = x;  Block.ContentId = x?.Id; Block.ContentSchema = x?.Schema.Name; }" 
        IsReadOnly="Field.IsReadOnly" />
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (Block.ContentId != null)
        {
            Content = await Storage.GetContentAsync(Block.ContentSchema, Block.ContentId.Value);
        }
    }

    private ContentItem Content { get; set; }
}
