@inherits BlockComponent<SectionBlock>

<div class="block section-block">
    <div class="input-group mb-3">
        <span class="input-group-text">Css</span>
        <MudTextField @bind-Value="@Block.Css" ReadOnly="Field.IsReadOnly" />
    </div>
    <div class="section-block-body">
        <BlocksView Blocks="Block.Blocks" />
    </div>
</div>