@inherits BlockComponent<TextBlock>

<div class="block text-block">
    <div class="grow-wrap" data-replicated-value="@Block.Text">
        <textarea type="text"
                  onInput="this.parentNode.dataset.replicatedValue = this.value"
                  class="form-control"
                  @bind="@Block.Text"
                  readonly="@Field.GetReadOnlyAttribute()" />
    </div>
</div>

@code {
    [CascadingParameter]
    public FieldComponent<BlockField> Field { get; set; }
}