@inherits BlockComponent<TextBlock>

<div class="block text-block">
    <MudTextField AutoGrow
                  Lines="3"
                  @bind-Value="@Block.Text"
                  ReadOnly="@Field.IsReadOnly" />
</div>