@inherits BlockComponent<YouTubeBlock>

<div class="block youtube-block">
    <div class="input-group">
        <MudTextField 
            Value="@Block.VideoId" 
            spellcheck="false" 
            @onchange="@(e => { Block.VideoId = e.Value.ToString(); CreateThumbnailUrl();  })" 
            ReadOnly="@Field.IsReadOnly"
            Placeholder="Video ID"/>
    </div>
    <img src="@Url" style="max-height:200px;margin-top:10px" />
</div>

@code {

    public string Url { get; set; }

    private void CreateThumbnailUrl()
    {
        if (string.IsNullOrEmpty(Block.VideoId) == false)
        {
            Url = $"https://i.ytimg.com/vi/{Block.VideoId}/maxresdefault.jpg";
        }
        else
        {
            Url = null;
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        CreateThumbnailUrl();
    }
}