@page "/"
@inherits IndexBase

<div class="content-header">
    <div class="container">
        <h1 class="display-4 text-center">Welcome to DragonFly!</h1>
        <p class="text-center">Version: @DragonFly.GetVersion()</p>
    </div>
</div>
<div class="scroll-content">
</div>