<div class="bool-field-view">
    <BSButton Color="Value == true ? Color.Dark : Color.Light" OnClick="x => OnChange(true)">
        <span><i class="far fa-check-circle"></i> True</span>
    </BSButton>

    <BSButton Color="Value == false ? Color.Dark : Color.Light" OnClick="x => OnChange(false)">
        <span><i class="far fa-times-circle"></i> False</span>
    </BSButton>
    @if (AllowUnset)
    {
        <BSButton Color="Value == null ? Color.Dark : Color.Light" OnClick="x => OnChange(null)">
            <span><i class="far fa-circle"></i> Unset</span>
        </BSButton>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AllowUnset = true;
    }

    [Parameter]
    public bool? Value { get; set; }

    [Parameter]
    public Action<bool?> ValueChanged { get; set; }

    [Parameter]
    public bool AllowUnset { get; set; }

    private void OnChange(bool? value)
    {
        Value = value;

        ValueChanged?.Invoke(value);
    }
}
