<div class="bool-field-view options">
    <BSButton Color="Value == true ? BSColor.Dark : BSColor.Light" OnClick="x => OnChange(true)" IsDisabled="IsReadOnly">
        <span><i class="far fa-check-circle"></i> True</span>
    </BSButton>

    <BSButton Color="Value == false ? BSColor.Dark : BSColor.Light" OnClick="x => OnChange(false)" IsDisabled="IsReadOnly">
        <span><i class="far fa-times-circle"></i> False</span>
    </BSButton>
    @if (AllowUnset)
    {
        <BSButton Color="Value == null ? BSColor.Dark : BSColor.Light" OnClick="x => OnChange(null)" IsDisabled="IsReadOnly">
            <span><i class="far fa-circle"></i> Unset</span>
        </BSButton>
    }
</div>

@code {

    [Parameter]
    public bool? Value { get; set; }

    [Parameter]
    public Action<bool?> ValueChanged { get; set; }

    [Parameter]
    public bool AllowUnset { get; set; } 

    [Parameter]
    public bool IsReadOnly { get; set; }

    private void OnChange(bool? value)
    {
        Value = value;

        ValueChanged?.Invoke(value);
    }
}
