<div class="bool-field-view options">

    @* <FluentRadioGroup @bind-Value=Value>
        <FluentRadio Value="1">True</FluentRadio>
        <FluentRadio Value="2">False</FluentRadio>
        <FluentRadio Value="3">False</FluentRadio>
    </FluentRadioGroup> *@

    <MudButton StartIcon="@Icons.Material.Filled.RadioButtonChecked" OnClick="x => OnChange(true)" Disabled="IsReadOnly">
        <span>True</span>
    </MudButton>

    <MudButton StartIcon="@Icons.Material.Filled.RadioButtonUnchecked" OnClick="x => OnChange(false)" Disabled="IsReadOnly">
        <span>False</span>
    </MudButton>
    @if (AllowUnset)
    {
        <MudButton StartIcon="@Icons.Material.Filled.Radio" OnClick="x => OnChange(null)" Disabled="IsReadOnly">
            <span>Unset</span>
        </MudButton>
    }
</div>

@code {
    [Parameter]
    public bool? Value { get; set; }

    [Parameter]
    public Action<bool?> ValueChanged { get; set; }

    [Parameter]
    public bool AllowUnset { get; set; } 

    [Parameter]
    public bool IsReadOnly { get; set; }

    private void OnChange(bool? value)
    {
        if (Value != value)
        {
            Value = value;

            ValueChanged?.Invoke(value);
        }
    }
}
