@model AlertBlock

@if (Model.Blocks.Any())
{
    <div class="block alert-block">
        <div class="alert alert-@Model.ColorType.ToBootstrapElement()">
            @Html.DisplayFor(m => Model.Blocks)
        </div>
    </div>
}