@model CardBlock

<div class="block card-block h-100">
    <div class="card h-100">
        @*<img src="..." class="card-img-top" alt="...">*@
        @if (string.IsNullOrEmpty(Model.Header) == false)
        {
            <div class="card-header">@Model.Header</div>
        }
        <div class="card-body">
            @if (string.IsNullOrEmpty(Model.Title) == false)
            {
                <h5 class="card-title">@Model.Title</h5>
            }

            @Html.DisplayFor(m => Model.Blocks)

            @*<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>*@
        </div>
        @if (string.IsNullOrEmpty(Model.Footer) == false)
        {
            <div class="card-footer">
                <small class="text-body-secondary">@Model.Footer</small>
            </div>
        }
    </div>
</div>
