@inject IOptions<GeneralOptions> Options

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@Options.Value.Name</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home icon" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="schema">
                <span class="oi oi-list-rich icon" aria-hidden="true"></span> Schema
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="content">
                <span class="oi oi-list-rich icon" aria-hidden="true"></span> Content
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="asset">
                <span class="far fa-image icon" aria-hidden="true"></span> Assets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="webhook">
                <span class="oi oi-list-rich icon" aria-hidden="true"></span> WebHooks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="fas fa-tools icon" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

<AuthorizeView>
    <Authorized>
        @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        Login
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
