@inherits FieldOptionsComponent<ReferenceFieldOptions>

<BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">

        </BSCard>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Required</label>
            <div class="col-sm-8">
                <FluentCheckbox @bind-Value="@Options.IsRequired" />
            </div>
        </BSRow>        
         <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Searchable</label>
            <div class="col-sm-8">
                <FluentCheckbox @bind-Value="@Options.IsSearchable" />
            </div>
        </BSRow>
    </BSCard>
</BSCard>
