@inherits FieldOptionsComponent<SlugFieldOptions>

<BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">

        </BSCard>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Required</label>
            <div class="col-sm-8">
                <CheckBoxView @bind-Value="@Options.IsRequired" />
            </div>
        </BSRow>
         <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Searchable</label>
            <div class="col-sm-8">
                <CheckBoxView @bind-Value="@Options.IsSearchable" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Target field</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" @bind-value="@Options.TargetField" />
            </div>
        </BSRow>       
    </BSCard>
</BSCard>