@inherits AssetMetadataComponent<PdfMetadata>

<div class="form-group">
    <BSRow>
        <BSLabel class="col-sm-2 col-form-label">
            Pages
        </BSLabel>
        <div class="col-sm-10">
            <BSInput InputType="InputType.Text" Value="@Metadata.CountPages" IsReadonly="true" />
        </div>
    </BSRow>
</div>

<div class="form-group">
    <BSRow>
        <BSLabel class="col-sm-2 col-form-label">
            PDF version
        </BSLabel>
        <div class="col-sm-10">
            <BSInput InputType="InputType.Text" Value="@Metadata.PdfVersion" IsReadonly="true" />
        </div>
    </BSRow>
</div>

<div class="form-group">
    <BSRow>
        <BSLabel class="col-sm-2 col-form-label">
            Encrypted
        </BSLabel>
        <div class="col-sm-10">
            <BSInput InputType="InputType.Text" Value="@Metadata.IsEncrypted" IsReadonly="true" />
        </div>
    </BSRow>
</div>
