@inherits AssetMetadataComponent<PdfMetadata>

<div class="row">
    <label class="col-sm-2 col-form-label">
        Pages
    </label>
    <div class="col-sm-10">
        <FluentTextField Value="@Metadata.CountPages.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
    </div>
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">
        PDF version
    </label>
    <div class="col-sm-10">
        <FluentTextField Value="@Metadata.PdfVersion?.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
    </div>
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">
        Encrypted
    </label>
    <div class="col-sm-10">
        <FluentTextField Value="@Metadata.IsEncrypted.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
    </div>
</div>
