@page "/settings"
@inject IDragonFlyApi Api

<div class="settings">
    <BSRow>
        <BSCol ColumnLarge="3">
            <FluentNavMenu>
                @foreach (SettingsItem c in Api.Settings().Items.OrderBy(x => x.Name))
                {
                    <FluentNavLink OnClick="e => SelectedComponent = c">
                        <span>@c.Name</span>
                    </FluentNavLink>
                }
            </FluentNavMenu>
        </BSCol>
        <BSCol ColumnLarge="9">
            @if (SelectedComponent != null)
            {
                @CreateComponent()
            }
        </BSCol>
    </BSRow>
</div>

@code {

    public SettingsItem SelectedComponent { get; set; }

    public RenderFragment CreateComponent() => builder =>
                    {
                        builder.OpenComponent(0, SelectedComponent.ComponentType);
                        builder.CloseComponent();
                    };

}
