.block {
    margin-bottom: var(--bs-gutter-x);

    &:last-child {
        margin-bottom: 0px;
    }

    .alert {
        margin-bottom: 0px;
    }
}

.html-block {
    
    & p:last-child{
        margin-bottom: 0px;
    }
}