@charset "UTF-8";
html {
  height: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}

header {
  flex: 0 1 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 1 auto;
  text-align: right;
  padding: 2rem 0;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #222;
}
footer a {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, blockquote {
  color: #212529;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

a {
  color: #D54949;
  text-decoration: none;
}
a:hover {
  color: #D54949;
  text-decoration: underline;
}

code {
  background: #f2f2f2;
  color: #D54949;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

pre {
  background: #f2f2f2;
  padding: 1rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

blockquote {
  position: relative;
  padding: 2rem 80px 1rem;
  margin: 2rem 0;
  border-top: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  font-size: 1.2rem;
  font-weight: 400;
}
blockquote:before {
  content: "“";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8rem;
  color: #e2e2e2;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: initial;
}

header .navbar a {
  color: #333;
}

article header h1 a, article header h2 a {
  color: #212529;
}
article header h1 a:hover, article header h2 a:hover {
  color: #000;
}
article .post-meta {
  color: #999;
  font-size: 0.85rem;
}
article .post-meta a {
  color: #999;
}
article .post-meta strong {
  color: #212529;
  font-weight: normal;
}

.blog-filter-header h1 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: -0.5rem;
}
.blog-filter-header h1::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 0;
  border-bottom: solid 1px #e2e2e2;
  margin-top: 0.5rem;
}
