@import "colors";
html {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
}

body {
    color: $text_regular;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > header {
    flex: 0 1 auto;
    margin-bottom: 2rem;

    .navbar {
        a {
            color: $text_regular;
        }
    }
}

body > main {
    flex: 1 0 auto;
}

body > footer {
    flex: 0 1 auto;
    padding: 2rem 0;
    margin-top: 2rem;
    font-size:0.9rem;
    color: #fff;
    background-color: #222;

    .footer-links {
        display: flex;
        justify-content:space-between;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $text_strong;
    
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

a {
    color: $text_primary;
    text-decoration: none;

    &:hover {
        color: $text_primary;
        text-decoration: underline;
    }
}

article {
    header {
        h1, h2 {

            a {
                color: $text_strong;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    .post-meta {
        color: $text_light;
        font-size: .85rem;

        a {
            color: $text_light;
        }

        strong {
            color: $text_strong;
            font-weight: normal;
        }
    }
}

.heading-index {
    position: sticky;
    top: 1rem;    
    font-size: 0.8rem;

}