<FluentToolbar>
    @foreach (ToolbarItem item in Items)
    {
        <FluentButton 
            Appearance="item.IsAccent ? Appearance.Accent : Appearance.Neutral"
            IconStart="item.Icon"
            OnClick="@(async x => { await item.ExecuteAsync(); this.StateHasChanged(); })" 
            Disabled="@item.IsRunning">
            @if (item.IsRunning)
            {
                <span class="fas fa-spin fa-spinner icon"></span>
            }
            <span class="title">@item.Name</span>
        </FluentButton>
    }
</FluentToolbar>

@code {
    [Parameter]
    public IEnumerable<ToolbarItem> Items { get; set; }


} 