<div style="display: flex; gap: 0.5rem; margin-bottom: 1rem">
    @foreach (ToolbarItem item in Items)
    {
        <MudButton 
            StartIcon="@item.Icon" 
            Variant="Variant.Filled"
            Color="item.IsAccent ? Color.Primary : Color.Default"
            OnClick="@(async x => { await item.ExecuteAsync(); this.StateHasChanged(); })" 
            Disabled="@item.IsRunning">
            @if (item.IsRunning)
            {
                <span class="fas fa-spin fa-spinner icon"></span>
            }
            <span class="title">@item.Name</span>
        </MudButton>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<ToolbarItem> Items { get; set; }


} 