<FluentToolbar>
    @foreach (ToolbarItem item in Items)
    {
        <FluentButton OnClick="@(async x => { await item.ExecuteAsync(); this.StateHasChanged(); })" disabled="@item.IsRunning">
            @if (item.IsRunning)
            {
                <span class="fas fa-spin fa-spinner icon"></span>
            }
            <span class="title">@item.Name</span>
        </FluentButton>
    }
</FluentToolbar>

@code {
    [Parameter]
    public IEnumerable<ToolbarItem> Items { get; set; }


} 