@page "/tasks"
@inherits BackgroundTaskListBase

<div class="content-header">
    <h1>Tasks</h1>

    <Toolbar Items="ToolbarItems"></Toolbar>
</div>
<div class="scroll-content">
    @if (Tasks != null)
    {
        <div class="list-group">
            @foreach (BackgroundTaskInfo task in Tasks.Where(x=> x.ParentTaskId == null))
            {
               <BackgroundTaskItem Task="task" Tasks="Tasks" />
            }
        </div>
    }
</div>
<div class="footer-content">
    <div class="row">
    </div>
</div>

@code {

}
