@page "/tasks"
@inherits StartComponentBase

<div class="content-header">
    <h1>Background tasks</h1>

    <Toolbar Items="ToolbarItems"></Toolbar>
</div>
<div class="scroll-content">
    @if (Tasks != null)
    {
        <div class="list-group">
            @foreach (BackgroundTaskInfo task in Tasks
                                                    .Select(x => x.Value)
                                                    .Where(x => x.ParentTaskId == null))
            {
               <BackgroundTaskItem Task="task" Tasks="Tasks.Values" />
            }
        </div>
    }
</div>
<div class="footer-content">
    <div class="row">
    </div>
</div>
