.block {
    margin-bottom: var(--bs-gutter-x);

    &:last-child {
        margin-bottom: 0px;
    }

    .alert {
        margin-bottom: 0px;
    }
}

.grid-block {
    display: grid;
    gap: 1rem;

    .grid-item {
        display: flex;
        overflow: hidden;
    }

    .block {
        flex: 1;
        margin: 0px;
        padding: 0px;
    }

    .asset-block > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}