@import "colors";

h1, h2, h3, h4, h5, h6 {
    color: $text_strong;
    
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

article {
    header {
        h1, h2 {

            a {
                color: $text_strong;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    .post-meta {
        color: $text_light;
        font-size: .85rem;

        a {
            color: $text_light;
        }

        strong {
            color: $text_strong;
            font-weight: normal;
        }
    }
}

.heading-index {
    position: sticky;
    top: 1rem;    
    font-size: 0.8rem;

}

.progress {
    height: 1.5rem;
}