@model CodeBlock

@if (Model.Content != null)
{
    @*Stream resource = System.Reflection.Assembly.GetExecutingAssembly().GetManifestResourceStream("DragonFlyTemplate.assets.prism.es5.min.js");
    StreamReader reader = new StreamReader(resource, System.Text.Encoding.UTF8);

    var engine = new Jurassic.ScriptEngine();
    engine.Execute(reader.ReadToEnd());
    engine.SetGlobalValue("input", Model.SourceCode);
    engine.SetGlobalValue("lang", "csharp");
    engine.Execute($"highlighted = Prism.highlight(input, Prism.languages.csharp, lang)");

    string result = engine.Evaluate<string>("highlighted");*@

    //string result = Model.Content;

    <div class="block code-block">
        <pre><code class="@Model.CodeType.ToPrismCssClass()">@Model.Content</code></pre>
    </div>
}