@model ColumnBlock

<div class="row">
    @for (var n = 0; n < Model.Columns.Count; n++)
    {
        <div class="col-md">
            @Html.DisplayBlocks(Model.Columns[n])
        </div>
    }
</div>