@model ColumnBlock

<div class="row">
    @for (var n = 0; n < Model.Columns.Count; n++)
    {
        <div class="col-md">
            @Html.DisplayFor(m => Model.Columns[n], Model.Columns[n].GetType().Name)
        </div>
    }
</div>