@model ColumnBlock

@if (Model.Columns.Any())
{
    <div class="block column-block">
        <div class="row @Model.HorizontalAlignment.ToBootstrapCssClass()">
            @for (int n = 0; n < Model.Columns.Count; n++)
            {
                <div class="@Model.Columns[n].Width.ToBootstrapCssClass()">
                    @Html.DisplayFor(m => Model.Columns[n].Blocks)
                </div>
            }
        </div>
    </div>
}