@model QuoteBlock

@if(Model.Text != null)
{
    <div class="block quote-block">
        <figure class="text-center">        
            <blockquote class="blockquote" cite="@Model.Url">
                <p>@Model.Text</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                @Model.Caption
            </figcaption>
        </figure>
    </div>
}