@model QuoteBlock

@if(Model.Text != null)
{
    <div class="block quote-block">
        <blockquote class="blockquote" cite="@Model.Url">
            <p>@Model.Text</p>
            <footer class="blockquote-footer">@Model.Caption</footer>
        </blockquote>
    </div>
}