.contentitem-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.query-title {
  margin-top: 1.5rem;
}

.query-title:first-child {
  margin-top: 0px;
}

.asset-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

body {
  height: 100%;
}

h1 {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
}

a, .btn-link {
  color: #0366d6;
}

button {
  cursor: pointer;
}

.pagination {
  flex-wrap: wrap;
}

.alert {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.field .alert {
  padding: 0px;
  margin-bottom: 0rem;
  border: none;
}

a.list-group-item {
  cursor: pointer;
}

form {
  flex: 1;
}

.form-group {
  padding: 0.125rem 0rem;
  margin-bottom: 0rem;
}

.form-group .alert {
  margin-bottom: 0px;
}

.modal-dialog {
  padding: 45px;
}

.field-label {
  margin: 0.35rem 0px;
  /*font-weight: 600;*/
  text-align: right;
  width: 100%;
  padding-left: 1rem;
}

.field-title {
  background-color: #f5f5f5;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.options {
  display: flex;
  gap: 0.25rem;
}

.toolbar {
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0;
}

.toolbar .toolbar-item .icon {
  width: 2rem;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

textarea.form-control {
  width: 100%;
}

.btn {
  padding: 0.275rem 0.75rem;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.content-fields .list-group-item {
    padding: .2rem .75rem;
}*/
.col-form-label {
  text-align: right;
}

.add-field {
  /* margin-bottom: 0.25rem;*/
}

/*.form-control {
    padding: .25rem .75rem;
}*/
.col-form-label {
  padding-top: 2px;
  padding-bottom: 0px;
}

.field-readonly {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.asset-field .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main .top-row {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.main .top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-list {
  display: flex;
  flex-direction: row;
}

.entity-list .sub-sidebar {
  width: 250px;
}

.entity-list .content {
  flex: 4;
  padding: 4rem;
}

.sidebar {
  background-color: #222;
  color: #fff;
}

.sub-sidebar {
  background-color: #444444;
  color: #fff;
  height: 100vh;
  padding-top: 4rem;
}

.sidebar .nav-item {
  font-size: 0.9rem;
}

.sidebar .nav-item:first-of-type {
  padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
  padding-bottom: 1rem;
}

.sidebar .nav-item a {
  color: #fff;
  border-radius: 0px;
  display: flex;
  line-height: 1.5rem;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar .nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.sidebar .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

@media (max-width: 767.98px) {
  .main .top-row:not(.auth) {
    display: none;
  }
  .main .top-row.auth {
    justify-content: space-between;
  }
  .main .top-row a, .main .top-row .btn-link {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  app {
    flex-direction: row;
  }
  .sidebar {
    flex: 0;
  }
  .navbar-toggler {
    display: none;
  }
  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
.modal-body {
  overflow: hidden;
  display: flex;
}

.box-item {
  border-radius: 0px;
  border: solid 1px #dddddd;
  padding: 1rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.box-item .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.box-item a {
  color: #000;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.box-item a:hover {
  color: black;
  text-decoration: none;
}

.box-item:hover {
  border: solid 1px white;
  box-shadow: 0px 0px 8px 1px #888;
}

.box-item.action {
  cursor: pointer;
}

.box-item.zoom {
  transition: all 0.05s ease;
}

.box-item.zoom:hover {
  z-index: 100;
  transform: scale(1.02);
}

.box-item .title {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.height-100 {
  height: 100%;
}

.content-header {
  flex: 0;
  margin: 1rem;
}

.scroll-content {
  flex: 1;
  overflow-y: auto;
  padding-right: 15px;
  padding-top: 0;
  margin: 1rem;
}

.footer-content {
  flex: 0;
  background-color: #f5f5f5;
  padding: 12px;
  padding-bottom: 0px;
}

.entity-content {
  flex: 1;
}

.settings {
  flex: 1;
  margin: 1rem;
}

.detail, .contentitem-detail, .role-detail, .user-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contentschema-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-field textarea {
  height: 200px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.content-selector {
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  border: 1px solid #ced4da;
}
