@inherits FieldComponent<TextBaseField>

<div class="tinymce-field">
    <TinyMCE.Blazor.Editor Field="() => Field.Value"
                           @bind-Value="Field.Value"
                           Disable="IsReadOnly"
                           Conf="TinyMceConfiguration.Editor" 
                           ScriptSrc="_content/DragonFly.Client/lib/tinymce/tinymce.min.js" />
</div>
